<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Очистка отчётов</title>
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
</head>
<body>
    <main class="container">
        {% if not report %}
            <h1>Очистка папки отчётов</h1>

            <p>Нажмите кнопку, для очистки файлов из папки отчётов.</p>

            <form method="post" action="/cleanup">
                <button type="submit">Очистить папку</button>
            </form>
        {% else %}
            <h1>Результат очистки папки отчетов сервиса поиска слов</h1>

            <p>Успех: {{ report.success }}</p>
            <p>Ошибки: {{ report.errors }}</p>
            <p>Названия ошибок: {{ report["names of errors"] }}</p>
            
            <pre><code>{{ report["pretty json"] }}</code></pre>
        {% endif %}
        <button onclick="window.location.href='/search-word/new'">Вернуться к фильтрам</button>
    </main>
</body>
</html>
